<% include ../header %>
    <title><% if(cheeseFormice.name) { %>
        Perfil de  <%= cheeseFormice.name %>
    <% }else { %>
        Visualizando perfil
    <% } %></title>
    <div class="container">

        <% include ../navbar %>

            <div class="header-background-perfil text-center">
                <h4 class="text-center">
                            <img style="float: none; display: block; margin: 0 auto 10px;" src="http://avatars.atelier801.com/<%= data.id % 10000  %>/<%= data.id  %>.jpg" onerror="this.onerror=null;this.src='http://avatars.atelier801.com/0/0.jpg';" />
		    <div class="titlex"><%= cheeseFormice.name %>
	    <% if(user) { %>
		    <% if(user.isValid) { %>
		        <span class="fa fa-check-circle" title="Está conta foi verificada"> </span>
		    <% } %>
		    <% if(user.isAdmin) { %>
		        <span class="label label-info adm">Administrador do fã-site</span>
		    <% } %>
		<% } %>
		</div>
		</div>
		
		<div class="row mg-top">
		    <div class="col-md-12">
		        <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab" data-toggle="tab">Perfil</a></li>
    <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Estatísticas</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="perfil">
                        <div class="panel panel-default mg-top">
                            <div class="panel-heading">Informações</div>
                            <div class="panel-body" style="word-break: break-all;">
                                <strong>Level: </strong>
                                <%= data.level %>
                                <br/>
                                <strong>Tribo: </strong> <a href="/tribo/<%= data.tribe %>"><%= data.tribe %></a>
                                <br/>
                                <strong>Experiencia Shaman: </strong><%= String(data.experience).replace(/(.)(?=(\d{3})+$)/g, '$1,') %>
                                <br/>
                                <strong>Titulo atual: </strong> «<%= cheeseFormice.title %>»
                                <br/>
                                <strong>Rank atual: </strong><%= String(data.rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %>
                            </div>
                        </div>
                        
                <% if(data.badges) { %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Medalhas
                        </div>
                        <div class="panel-body">
                                <% var badges = data.badges.split( ","); %>
                                <% for(var i=0 ; i < badges.length; i++) { %>
                                    <img src="http://transformice.com/images/x_transformice/x_badges/x_<%= badges[i] %>.png" />
                                <% } %>
                        </div>
                    </div>
                <% }else { %>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            Medalhas
                        </div>
                        <div class="panel-body">
                            Não tem medalhas
                        </div>
                    </div>
                <% } %>
             
    </div>
    <div role="tabpanel" class="tab-pane" id="stats">
        
        <table class="table table-bordered mg-top">
                    <thead>
                        <tr>
                            <th>Como rato</th>
                            <th>Dados</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Partidas jogadas</td>
                            <td><%= String(data.round_played).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados</td>
                            <td><%= String(data.cheese_gathered).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados em primeiro</td>
                            <td><%= String(data.first).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Bootcamps completados</td>
                            <td><%= String(data.bootcamp).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Como shaman</th>
                            <th>Dados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Modo normal</td>
                            <td><%= String(data.saved_mice).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Modo dificil</td>
                            <td><%= String(data.saved_mice_hard).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Modo divino</td>
                            <td><%= String(data.saved_mice_divine).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados como shaman</td>
                            <td><%= String(data.shaman_cheese).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                    </tbody>
                </table>
        
    </div>
  </div>
		    </div>
		</div>   

		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>