<% include ../header %>
    <title>Procurar jogador</title>
    <div class="container">
     <% include ../navbar %>
		
		<div class="col-md-6 col-center">
		    	<% if (messages.info) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>
            <form method="post" action="/perfil/" role="form">
                <div class="form-group">
                    <h3>Procurar jogador</h3>
                    <input type="text" class="form-control" name="nome" placeholder="Apelido do jogador" required>
                </div>
                <button type="submit" class="btn btn-default btn-block">Procurar</button>
            </form>
        </div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>