<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom.css" type="text/css" />
</head>
<body>