        <div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand hidden-sm" href="/">TransformiceTools</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/">Início</a></li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ferramentas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/procurar-jogador">Procurar jogador</a></li>
                                <li><a href="/procurar-tribo">Procurar tribo</a></li>
                                <li><a href="/moderadores">Moderadores online</a></li>
                                <li><a href="/mapcrews">Mapcrews online</a></li>
                                <li><a href="/sentinelas">Sentinelas online</a></li>
                            </ul>
                        </li>    
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if(session) { %>
					    
					    <li><a href="/conta">Minha conta</a></li>
						<% if(admin) { %>
					    <li><a href="/painel">Painel</a></li>
					    <% } %>
					    <li><a href="/sair">Sair</a></li>
					    <% }else{ %>
					    <li><a href="/entrar">Entrar</a></li>
					    <li><a href="/registrar">Registrar</a></li>
					    <% } %>
					</ul>
				</div>
			</div>
		</div>