<% include ../header %>

    <title>Editar perfil</title>
    <div class="container">
    	
    	<% include ../navbar %>
		
		<div class="row">
		    <div class="col-md-12">
                <% if (messages.info) {%>
		        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin"> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>
		        <form method="post" action="/painel/editar/<%= editar._id %>" role="form">
                    <div class="form-group">
                        <label>Nome de usuário</label>
                        <input type="text" class="form-control" name="username" value="<%= editar.username %>" required>
                    </div>
                    <div class="form-group">
                        <label>Apelido registrado</label>
                        <input type="text" class="form-control" name="tfmuser" value="<%= editar.tfmuser %>" required>
                    </div>                    
                    <div class="form-group">
                        <label>Verificado?</label>
                        <input type="text" class="form-control" name="isValid" value="<%= editar.isValid %>" required>
                    </div>
                    <div class="form-group">
                        <label>Administrador?</label>
                        <input type="text" class="form-control" name="isAdmin" value="<%= editar.isAdmin %>" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Editar</button>
                    <a href="/painel/deletar/<%= editar._id %>" class="btn btn-danger btn-block">Deletar</a>
                </form>
		    </div>
		</div>   
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>