<% include ../header %>
	<title>Painel administrativo</title>
    <div class="container">
    	
    	<% include ../navbar %>
		
		<div class="row">
			<div class="col-md-12">
                <% if (messages.info) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>
		        <h3>Lista de usuários cadastrados</h3>
		        <table class="table table-bordered">
		            <thead>
		                <tr>
		                    <th>Nome de usuário</th>
		                    <th>Perfil registrado</th>
		                    <th>Ação</th>
		                </tr>
		            </thead>
		            <tbody>
		                <% lista.forEach(function(data) {%>
		                    <tr>
		                        <td><%= data.username %></td>
		                        <td><%= data.tfmuser.charAt(0).toUpperCase() + data.tfmuser.slice(1) %></td>
		                        <td><a href="/painel/editar/<%= data._id %>" class="btn btn-primary btn-block">Editar</a></td>
		                    </tr>
		                <% }) %>
		            </tbody>
		        </table>
		       	<h3>Pedidos de verificação</h3>
		        	<table class="table table-bordered ">
		            <thead>
		                <tr>
		                    <th>Nome de usuário</th>
		                    <th>Ação</th>
		                </tr>
		            </thead>
		            	<tbody>
		                <% veriLista.forEach(function(data) {%>
		                    <tr>
		                        <td><%= data.username %></td>
		                        <td><a href="/painel/verificar/<%= data.id %>" class="btn btn-primary btn-block">Verificar</a></td>
		                    </tr>
		                <% }) %>
		            </tbody>
		        </table>
		        
		        </div>
		    </div>

		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>