<% include ../header %>
<title>TransformiceTools</title>
    <div class="container">

	<% include ../navbar %>
		
		<div class="header-background">
		</div>
		
		<div class="row mg-top">
		    <div class="col-md-8">
		        <h3>Bem vindo(a)</h3>
		         <ul>
                    <li>Procure informações de seu <strong>perfil</strong>.</li>
                    <li>Procure informações de sua <strong>tribo</strong>.</li>
                    <li>Veja se tem <strong>moderadores</strong>, <strong>sentinelas</strong> ou <strong>mapcrews</strong> online.</li>
                </ul>
                <h3>Sobre nós</h3>
                <p>TransformiceTools é Fã-site de estatísticas do Transformice 
                com o objetivo de trazer informações ao jogadores,
                TransformiceTools é toltamente feito em <strong>Node.JS</strong></p>
		    </div>
		    
		    <div class="col-md-4">
		          <form method="post" action="/perfil/" role="form">
                    <div class="form-group">
                        <h3>Procurar jogador</h3>
                        <input type="text" class="form-control" name="nome" placeholder="Apelido do jogador" required>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Procurar</button>
                </form>

                <form method="post" action="/tribo/" role="form">
                    <div class="form-group">
                        <h3>Procurar tribo</h3>
                        <input type="text" class="form-control" name="tribo" placeholder="Nome da tribo" required>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Procurar</button>
                </form>
		    </div>
		</div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>