<% include ../header %>
	<title>Entrar</title>
    <div class="container">
    	
    	<% include ../navbar %>
		
		<div class="row">
		    <div class="col-md-8">
		    	<% if (messages.exit) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<p><%= messages.exit %></p>
				</div>
		        <% }%>
		        <% if (messages.info) {%>
		        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin"> 
					<h4>Informação</h4> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>

				<h2>Entrar na conta</h2>
		        <form method="post" action="/entrar" role="form">
                    <div class="form-group">
                        <label>* Nome de usuário</label>
                        <input type="text" class="form-control" name="username" placeholder="Nome de usuário" required>
                    </div>
                    <div class="form-group">
                        <label>* Senha</label>
                        <input type="password" class="form-control" name="password" placeholder="Sua senha aqui" required>
                    </div>                    
                    <button type="submit" class="btn btn-default btn-block">Entrar</button>
                </form>
		    </div>
		    <div class="col-md-4">
		       <img src="http://orig04.deviantart.net/d71e/f/2016/048/2/f/tfm_yay__by_druqqie-d9s4iek.png" class="img-responsive"/>
		    </div>
		</div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>