<% include ../header %>
    <title>Tribo <%= data.tribe_name %></title>
    <div class="container">

        <% include ../navbar %>

        <div class="header-background-perfil text-center">
            <h4 class="text-center"><img style="float: none; display: block; margin: 0 auto 10px;" src="http://logostribu.atelier801.com/<%= data.tribe_id % 10000  %>/<%= data.tribe_id  %>.jpg" onerror="this.onerror=null;this.src='http://avatars.atelier801.com/0/0.jpg';" />
		       <div class="titlex"><%= data.tribe_name %></div>
		      </h4>
		</div>
		
		<div class="row mg-top">
		    <div class="col-md-12">
		        <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#perfil" aria-controls="perfil" role="tab" data-toggle="tab">Perfil</a></li>
                        <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Estatísticas</a></li>
                  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="perfil">
             <div class="panel panel-default mg-top">
                    <div class="panel-heading">Informações</div>
                    <div class="panel-body" style="word-break: break-all;">
                        <strong>Rank atual: </strong> <%= String(data.rank).replace(/(.)(?=(\d{3})+$)/g,'$1,') %>
                        <br/>
                        <strong>Membros: </strong><%= data.members %>
                        <br/>
                        <strong>Servidor: </strong>
                        <% if(data.server){ %>
                           <% if(data.server === "en"){ %>
                            <img src="http://atelier801.com/img/pays/gb.png"/>
                        <% } %>
                        <% if(data.server === "all"){ %>
                            <img src="http://atelier801.com/img/pays/xx.png"/>
                        <% }else {%>
                            <img src="http://atelier801.com/img/pays/<%=data.server.toLowerCase()%>.png"/>
                        <% }%>
                        <% }else {%>
                            Não definido
                        <% } %>    
                        <br/>
                        <strong>Sala da Tribo: </strong>
                        <% if(data.room) { %>
                            <%= data.room %>
                        <% } else{ %>
                            Não definido
                        <% } %>    
                        <br/>
                        <strong>Líder(es) da Tribo: </strong>
                        <% if(data.founders) { %>
                            <%= data.founders.join(", ") %>
                        <% }else{ %>
                            Não definido
                        <% } %>
                    </div>
                </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="stats">
        
<table class="table table-bordered mg-top">
                    <thead>
                        <tr>
                            <th>Como rato</th>
                            <th>Dados</th>
                            <th>Rank</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Partidas jogadas</td>
                            <td><%= String(data.rounds).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.rounds_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados</td>
                            <td><%= String(data.cheese).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.cheese_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados em primeiro</td>
                            <td><%= String(data.first).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.first_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Bootcamps completados</td>
                            <td><%= String(data.bootcamps).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.bootcamps_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Como shaman</th>
                            <th>Dados</th>
                            <th>Rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Modo normal</td>
                            <td><%= String(data.saves).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.saves_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Modo dificil</td>
                            <td><%= String(data.hard_saves).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.hard_saves_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                        <tr>
                            <td>Queijos coletados como shaman</td>
                            <td><%= String(data.sham_cheese).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                            <td><%= String(data.sham_cheese_rank).replace(/(.)(?=(\d{3})+$)/g, '$1,') %></td>
                        </tr>
                    </tbody>
                </table>
        
    </div>
  </div>
		    </div>
		</div>   

		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>