<% include ../header %>
	<title>Minha conta</title>
    <div class="container">
     <% include ../navbar %>
		
		<div class="col-md-6 col-center text-center">
				<% if (messages.danger) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<p><%= messages.danger %></p>
				</div>
		        <% }%>
				<% if (messages.info) {%>
		        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin"> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>
		    <h3>Informações</h3>
		    <strong>Nome da conta</strong>: <br/> <%= data.username %> <br/>
		    <strong>Perfil registrado</strong>: <br/> <%= data.tfmuser %><br/>
		    <strong>Conta verificada</strong>: <br/><% if(data.isValid) { %>
		    Sim
		    <% }else{ %>
		    <a href="/conta/verificar/<%= session %>" class="btn btn-primary">Pedir verificação</a>
		    <% } %>
		    <h3>Configurações</h3>
		    <a href="/conta/senha/<%= session %>" class="btn btn-primary">Mudar senha</a>
        </div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>