<% include ../header %>
	<title>Entrar</title>
    <div class="container">
    	
    	<% include ../navbar %>
		
		<div class="row">
		    <div class="col-md-8 col-center">
		    	<% if (messages.exit) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<p><%= messages.exit %></p>
				</div>
		        <% }%>
		        <% if (messages.info) {%>
		        <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin"> 
					<h4>Informação</h4> 
					<p><%= messages.info %></p>
				</div>
		        <% }%>

				<h2>Mudar senha</h2>
		        <form method="post" action="/conta/senha/<%= userData._id %>" role="form">
                    <div class="form-group">
                        <label>Senha atual</label>
                        <input type="password" class="form-control" name="password" placeholder="Nome de usuário" required>
                    </div>
                    <div class="form-group">
                        <label>Nova senha</label>
                        <input type="password" class="form-control" name="newPassword" placeholder="Sua senha aqui" required>
                    </div>                    
                    <button type="submit" class="btn btn-default btn-block">Mudar senha</button>
                </form>
		    </div>
		</div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>