<% include ../header %>
<title>Error</title>
    <div class="container">
    	
    	<% include ../navbar %>
		
		<div class="row">
		    <div class="col-md-12">
		       <h1 class="text-center">Error no servidor</h1>
		    </div>
		</div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>