<% include ../header %>
<title>Mapcrews online</title>
    <div class="container">
     <% include ../navbar %>
		
		<div class="col-md-6 col-center">
            <h4 class="text-center">Mapcrews online</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> Comunidade</th>
                        <th> Apelido</th>
                    </tr>
                </thead>        
                <tbody>
                    <% var items = data %>
                    <% for(var index in items) { %>
                    <tr>
                        <td><img src="http://atelier801.com/img/pays/<%= index %>.png"/></td>
                        <td><%= items[index] %></td>
                    <tr/> 
                    <% } %>
                </tbody>
            </table>
        </div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>