<% include ../header %>
	<title>Registrar</title>
    <div class="container">
     <% include ../navbar %>
		
		<div class="row">
		    <div class="col-md-8">
		    	<% if (messages.danger) {%>
		        <div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<h4>Aviso</h4> 
					<p><%= messages.danger %></p>
				</div>
		        <% }%>
				
				<h2>Registrar uma conta</h2>
		        <form method="post" action="/registrar" role="form">
                    <div class="form-group">
                        <label>* Nome de usuário</label>
                        <input type="text" class="form-control" name="username" placeholder="Nome de usuário" required>
                    </div>
                    <div class="form-group">
                        <label>* Senha</label>
                        <input type="password" class="form-control" name="password" placeholder="Sua senha aqui" required>
                    </div>                    
                    <div class="form-group">
                        <label>* Apelido no transformice</label>
                        <input type="text" class="form-control" name="tfmuser" placeholder="Apelido no transformice" required>
                    </div>
   				<div class="bs-callout bs-callout-danger" id="callout-navs-tabs-plugin"> 
					<h4>Informação</h4> 
					<p>Não use a mesma senha do Transformice por razões de segurança, não nos responsabilizamos por invasão ou roubo a sua conta.</p>
				</div>                    
                    <button type="submit" class="btn btn-default btn-block">Registrar minha conta</button>
                </form>
		    </div>
		    <div class="col-md-4">
		       <img src="http://orig04.deviantart.net/d71e/f/2016/048/2/f/tfm_yay__by_druqqie-d9s4iek.png" class="img-responsive"/>
		    </div>
		</div>
		
		<footer>
		    <p class="text-right">  Feito com  <span class="fa fa-heart"></span> por Doritossnice </p>
		</footer>
    </div><!-- container -->
<% include ../footer %>